/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/assets/images/minion2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.pointer {
  cursor: pointer;
}
